 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("images/42762c5cd60dbae5bcdd4a19d0db9115.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 1683px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -30px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 92px auto 0;
}

.u-section-1 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 30px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 746px;
  margin: 19px auto 0;
}

.u-section-1 .u-image-1 {
  width: 185px;
  height: 185px;
  background-image: url("images/8b67faf2647e6b46dd70d05284f27b16.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -30px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 196px auto 0 905px;
}

.u-section-1 .u-image-2 {
  width: 185px;
  height: 185px;
  background-image: url("images/5107b502e1b53efe37af418ce230d6ec.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -30px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -185px 459px 0 auto;
}

.u-section-1 .u-image-3 {
  width: 185px;
  height: 185px;
  background-image: url("images/cc94342979a89de8cbf1fdfab52c65b01.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -30px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -184px auto 0 88px;
}

.u-section-1 .u-image-4 {
  width: 185px;
  height: 185px;
  background-image: url("images/dd91cf35730c65f7f725c5ef0415d03c.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_y: -30px;
  --animation-custom_in-scale: 1;
  margin: -185px auto 0 292px;
}

.u-section-1 .u-image-5 {
  width: 185px;
  height: 185px;
  background-image: url("images/82eacab53018538af2e708bffa58f25f.jpg");
  background-position: 50% 50%;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -30px;
  margin: -178px auto 0 701px;
}

.u-section-1 .u-image-6 {
  width: 185px;
  height: 185px;
  background-image: url("images/069e60cd697fd775cd0554c39da47b21.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 30px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 10px 50px 0 auto;
}

.u-section-1 .u-image-7 {
  width: 185px;
  height: 185px;
  background-image: url("images/476d021f02cea5b624f338b9725f0358.jpg");
  background-position: 50% 50%;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: -30px;
  --animation-custom_in-translate_y: 0px;
  margin: -185px auto 0 88px;
}

.u-section-1 .u-image-8 {
  width: 185px;
  height: 185px;
  background-image: url("images/ae7d7298ea83e9697abda5d194b70793.jpg");
  background-position: 50% 50%;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  margin: -185px auto 0 292px;
}

.u-section-1 .u-image-9 {
  width: 185px;
  height: 185px;
  background-image: url("images/0c71a16b847e147790579cff8a036640.jpg");
  background-position: 50% 50%;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  margin: -191px 459px 0 auto;
}

.u-section-1 .u-image-10 {
  width: 185px;
  height: 185px;
  background-image: url("images/7bad825f917dfe962acfb86a5ea4306b.jpg");
  background-position: 50% 50%;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  margin: -179px 254px 0 auto;
}

.u-section-1 .u-image-11 {
  width: 185px;
  height: 185px;
  background-image: url("images/2e353f4e59aab5325fc78c3442e11c96.jpg");
  background-position: 50% 50%;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 30px;
  --animation-custom_in-translate_y: 0px;
  margin: 19px 50px 0 auto;
}

.u-section-1 .u-image-12 {
  width: 185px;
  height: 185px;
  background-image: url("images/282fddae4162dc071ce0900d93bdd13b.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -30px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -185px auto 0 88px;
}

.u-section-1 .u-image-13 {
  width: 185px;
  height: 185px;
  background-image: url("images/02c7cba2f60a938ecbdc1748fd456aad.jpg");
  background-position: 50% 50%;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  margin: -185px auto 0 292px;
}

.u-section-1 .u-image-14 {
  width: 185px;
  height: 185px;
  background-image: url("images/50d8b43ebe9dabd27bb14e88c2cc743d.jpg");
  background-position: 50% 50%;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  margin: -185px 459px 0 auto;
}

.u-section-1 .u-image-15 {
  width: 185px;
  height: 185px;
  background-image: url("images/b495b43b76d40c3bcf3ce1f1016627e6.jpg");
  background-position: 50% 50%;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  margin: -185px 254px 0 auto;
}

.u-section-1 .u-image-16 {
  width: 185px;
  height: 185px;
  background-image: url("images/c768d5ad6001155fd648db2cfc9511c3.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -30px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 18px auto 0 88px;
}

.u-section-1 .u-image-17 {
  width: 185px;
  height: 185px;
  background-image: url("images/723eb556e984a2edd4c63dfa397769dc.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 30px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -184px 50px 0 auto;
}

.u-section-1 .u-image-18 {
  width: 185px;
  height: 185px;
  background-image: url("images/6ae951d483bc14abb9bfcd096c61188b.jpg");
  background-position: 50% 50%;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  margin: -187px auto 0 292px;
}

.u-section-1 .u-image-19 {
  width: 185px;
  height: 185px;
  background-image: url("images/f9bd81559221205e0db5920badcfff02.jpg");
  background-position: 50% 50%;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  margin: -185px 459px 0 auto;
}

.u-section-1 .u-image-20 {
  width: 185px;
  height: 185px;
  background-image: url("images/bbe26c670947f2a3a4eb19fb69e63436.jpg");
  background-position: 50% 50%;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  margin: -185px 254px 0 auto;
}

.u-section-1 .u-image-21 {
  width: 185px;
  height: 185px;
  background-image: url("images/078f9ac0eb9f9a9072e6a15097965f1a.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 30px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 19px 50px 0 auto;
}

.u-section-1 .u-image-22 {
  width: 185px;
  height: 185px;
  background-image: url("images/bed573bdb6f176406d0089e1254e56ff.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -30px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -184px auto 0 88px;
}

.u-section-1 .u-image-23 {
  width: 185px;
  height: 185px;
  background-image: url("images/42762c5cd60dbae5bcdd4a19d0db9115.jpg");
  background-position: 50% 50%;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 30px;
  margin: -185px auto 0 292px;
}

.u-section-1 .u-image-24 {
  width: 185px;
  height: 185px;
  background-image: url("images/9029a3945888b051e5bf6f1fbd77a76a.jpg");
  background-position: 50% 50%;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 30px;
  margin: -185px 459px 0 auto;
}

.u-section-1 .u-image-25 {
  width: 185px;
  height: 185px;
  background-image: url("images/57d802c1a4bb31c0a8296015b103da52.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 30px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -177px 254px 0 auto;
}

.u-section-1 .u-text-3 {
  width: 746px;
  margin: 218px auto 25px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1388px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 755px;
  }

  .u-section-1 .u-image-8 {
    margin-top: 20px;
  }

  .u-section-1 .u-image-9 {
    margin-top: 4733px;
  }

  .u-section-1 .u-image-10 {
    margin-top: 3795px;
  }

  .u-section-1 .u-image-11 {
    margin-top: -9084px;
  }

  .u-section-1 .u-image-13 {
    margin-top: 6737px;
  }

  .u-section-1 .u-image-14 {
    margin-top: 4159px;
  }

  .u-section-1 .u-image-15 {
    margin-top: 2163px;
  }

  .u-section-1 .u-image-16 {
    margin-top: -13595px;
  }

  .u-section-1 .u-image-18 {
    margin-top: 868px;
  }

  .u-section-1 .u-image-19 {
    margin-top: 851px;
  }

  .u-section-1 .u-image-20 {
    margin-top: 1036px;
  }

  .u-section-1 .u-image-21 {
    margin-top: -3293px;
  }

  .u-section-1 .u-image-24 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1063px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 535px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 20px;
  }

  .u-section-1 .u-image-5 {
    margin-left: 535px;
  }

  .u-section-1 .u-text-3 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 797px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 355px;
  }

  .u-section-1 .u-image-2 {
    margin-right: 355px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 20px;
    margin-left: 355px;
  }

  .u-section-1 .u-image-8 {
    margin-top: 217px;
  }

  .u-section-1 .u-image-9 {
    margin-right: 355px;
  }

  .u-section-1 .u-image-11 {
    margin-top: -9281px;
  }

  .u-section-1 .u-image-13 {
    margin-top: 6934px;
  }

  .u-section-1 .u-image-14 {
    margin-right: 355px;
  }

  .u-section-1 .u-image-16 {
    margin-top: -13792px;
  }

  .u-section-1 .u-image-18 {
    margin-top: 1065px;
  }

  .u-section-1 .u-image-19 {
    margin-right: 355px;
  }

  .u-section-1 .u-image-21 {
    margin-top: -3490px;
  }

  .u-section-1 .u-image-24 {
    margin-right: 355px;
  }

  .u-section-1 .u-image-25 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 502px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 155px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 20px;
    margin-right: 155px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 20px;
    margin-left: 155px;
  }

  .u-section-1 .u-image-5 {
    margin-left: 155px;
  }

  .u-section-1 .u-image-8 {
    margin-top: 422px;
    margin-left: 155px;
  }

  .u-section-1 .u-image-9 {
    margin-right: 155px;
  }

  .u-section-1 .u-image-10 {
    margin-right: 155px;
  }

  .u-section-1 .u-image-11 {
    margin-top: -9486px;
  }

  .u-section-1 .u-image-13 {
    margin-top: 7139px;
    margin-left: 155px;
  }

  .u-section-1 .u-image-14 {
    margin-right: 155px;
  }

  .u-section-1 .u-image-15 {
    margin-right: 155px;
  }

  .u-section-1 .u-image-16 {
    margin-top: -13997px;
  }

  .u-section-1 .u-image-18 {
    margin-top: 1270px;
    margin-left: 155px;
  }

  .u-section-1 .u-image-19 {
    margin-right: 155px;
  }

  .u-section-1 .u-image-20 {
    margin-right: 155px;
  }

  .u-section-1 .u-image-21 {
    margin-top: -3695px;
  }

  .u-section-1 .u-image-23 {
    margin-top: 20px;
    margin-left: 155px;
  }

  .u-section-1 .u-image-24 {
    margin-right: 155px;
  }

  .u-section-1 .u-image-25 {
    margin-right: 155px;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
  }
}